* { margin: 0; padding: 0; box-sizing: border-box; }

// colors
$color-point: #879AB4;
$color-bg-light: #3B9BA1, #D1EAE5;
$color-bg-dark: #465C5C, #9BA2AA;
$color-black: #2B3A3A;
$color-white: #EEF5F5;

#root {
  width: 100vw; height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: linear-gradient($color-bg-light);
}

.text-alert {
  width: 76vw; height: initial;
  text-align: justify;
  font-size: 12px;
  line-height: 21px;
  color: $color-point;
  position: fixed;
  top: 6vh;
  z-index: 5;
}

.text-bold {
  font-weight: bold;
}

.cloud {
  width: 100vw; height: 100vh;
  background-image: url(../IMG/cloud.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

.window-box {
  width: 100vw; height: 100vh;
  background-image: url(../IMG/window-box.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.window-frames {
  width: 100vw; height: 35vh;
  background-image: url(../IMG/window-frames.svg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: cover;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

.text-box {
  width: 90vw; height: 20vh;
  padding: 3vh 0 3vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  border-radius: 1vh;
  border: 2px solid $color-point;
  position: fixed;
  bottom: 6vh;
}

.text-naration {
  width: 76vw; height: initial;
  text-align: justify;
  line-height: 26px;
  color: $color-black;
}

.btn-next {
  width: 3vh; height: 3vh;
  background-color: $color-point;
}

.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}